{% extends 'base.html' %}
{% load static %}
{% block content %}
    <center>
    <h1>Login</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="UserName" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit">
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </form>
            <img src="{% static 'img/Welcome to Login page(1).png' %}" alt="logimage" style="height:220px; width:100% ">

    </center>
{% endblock %}
